In [1]:
# 문자열 String
"Life is too short, You need Python"
"a"
"123"

'123'

In [2]:
# 큰따옴표(")로 양쪽 둘러싸기
"Hello World"

'Hello World'

In [3]:
# 작은따옴표(')로 양쪽 둘러싸기
'Python is fun'

'Python is fun'

In [4]:
# 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기
"""Life is too short, You need Python"""

'Life is too short, You need Python'

In [6]:
# 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기
'''Life is too short, You need Python'''

'Life is too short, You need Python'

In [10]:
# 문자열에 작은따옴표(') 포함시키기
food = "Python's favorite food is perl"

In [11]:
food

"Python's favorite food is perl"

In [12]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-12-4bf9be702834>, line 1)

In [13]:
# 문자열에 큰따옴표(") 포함시키기
say = '"Python is very easy." he says.'

In [14]:
say

'"Python is very easy." he says.'

In [16]:
# \(백슬래시)를 이용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기'
food = 'Python\'s favorite food is perl'

In [17]:
food

"Python's favorite food is perl"

In [18]:
say = "\"Python is veryeasy.\" he says.

In [19]:
say

'"Python is veryeasy." he says.'

In [20]:
# 줄을 바꾸기 위한 이스케이프 코드 '\n' 삽입하기
multiline = "Life is too short\nYou need python"

In [34]:
print(multiline)

Life is too short
You need python

In [25]:
multiline = '''
Life is too short
You need python
'''

In [33]:
print(multiline)

Life is too short
You need python

In [31]:
multiline = """
Life is too short
You need python
"""

In [32]:
print(multiline)

Life is too short
You need python

In [36]:
# 문자열 더해서 연결하기(Concatenation)
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [37]:
a = "python"
a * 2

'pythonpython'

In [38]:
# multistring.py
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [39]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a[3]

'e'

In [43]:
a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])
print(a[-0])

L
s
n
L

In [45]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [46]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [47]:
a[0:3]

'Lif'

In [48]:
a[0:5]

'Life '

In [49]:
a[0:2]

'Li'

In [50]:
a[5:7]

'is'

In [51]:
a[12:17]

'short'

In [52]:
a[19:]

'You need Python'

In [53]:
a[:17]

'Life is too short'

In [54]:
a[:]

'Life is too short, You need Python'

In [56]:
a[19:-7]

'You need'

In [57]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date

'20010331'

In [58]:
weather

'Rainy'

In [60]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weahter = a[8:]
year

'2001'

In [61]:
day

'0331'

In [62]:
weather

'Rainy'

In [63]:
# 'Pithon'이라는 문자열을 'Python'으로 바꾸려면?
a = "Pithon"
a[1]

'i'

In [65]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [66]:
a = "Pithon"
a[:1]

'P'

In [67]:
a[2:]

'thon'

In [68]:
a[:1] + 'y' + a[2:]

'Python'

In [69]:
# 문자열 포매팅 - 숫자 바로 대입
"I eat %d apples" %3

'I eat 3 apples'

In [70]:
# a문자열 포매팅 - 문자열 바로 대입
"I eat %s apples" %"five"

'I eat five apples'

In [71]:
number = 3
"I eat %d apples" %number

'I eat 3 apples'

In [72]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [73]:
"I have %s apples" %3

'I have 3 apples'

In [74]:
"Error is %d%." %98

ValueError: incomplete format

In [75]:
"Error is %d%%." %98

'Error is 98%.'

In [78]:
# 정렬과 공백
"%10sjane." %"hi"

'        hijane.'

In [79]:
"%-10sjane." %"hi"

'hi        jane.'

In [80]:
"%0.4f" %3.42134234

'3.4213'

In [81]:
"%10.4f" %3.42134234

'    3.4213'

In [82]:
#문자 개수 세기
a = "hobby"
a.count('b')

2

In [84]:
# 위치알려주기1(find)
a = "Python is best choice"
a.find('b')

10

In [85]:
a.find('k')

-1

In [86]:
# 위치알려주기2(Index)
a = "Life is too short"
a.index('t')

8

In [87]:
a.index('k')

ValueError: substring not found

In [88]:
# 문자열 삽입(join)
a='c'
a.join('abcd')

'acbcccd'

In [89]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [90]:
# 대문자를 소문자로 바꾸기(lower)
a = "HI"
a.lower()

'hi'

In [91]:
# 왼쪽 공백 지우기(lstrip)
a = " hi"
a.lstrip()

'hi'

In [92]:
# 오른쪽 공백 지우기(rstrip)
a = "hi "
a.rstrip()

'hi'

In [93]:
# 양쪽 공백 지우기(strip)
a = " hi "
a.strip()

'hi'

In [96]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [98]:
# 문자열 나누기(split)
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [99]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

In [100]:
## 고급 문자열 포매팅 
# 숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [101]:
# 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [102]:
# 숫자 값을 가진 변수로 대입하기 
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [103]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so i was sick for {1} days.".format(number, day)

'I ate 10 apples. so i was sick for three days.'

In [105]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [106]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [107]:
"{0:<10}".format("hi")

'hi        '

In [109]:
"{0:>10}".format("hi")

'        hi'

In [111]:
"{0:^10}".format("hi")

'    hi    '

In [112]:
"{0:=^10}".format("hi")

'====hi===='

In [113]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [114]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [116]:
"{0:10.4f}".format(y)

'    3.4213'

In [118]:
"{{and}}".format()

'{and}'