In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("hello")
s2

{'e', 'h', 'l', 'o'}

In [3]:
# 리스트로 변환
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [4]:
l1[0]

1

In [5]:
# 튜플로 변환
t1 = tuple(s1)
t1

(1, 2, 3)

In [6]:
t1[0]

1

In [7]:
# 교집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [8]:
s1.intersection(s2)

{4, 5, 6}

In [9]:
# 합집합
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
# 차집합
s1-s2

{1, 2, 3}

In [13]:
s2 - s1

{7, 8, 9}

In [14]:
s1.difference(s2)

{1, 2, 3}

In [15]:
s2.difference(s1)

{7, 8, 9}

In [17]:
# 값 1개 추가하기(add)
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [18]:
# 값 여러개 추가하기(update)
s1 = set([1,2,3,])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [19]:
# 특정값 제거하기(remove)
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}